html
  head
    title Donate Organ
    meta(charset='utf-8')
    link(href='/icons/sprites/logo.png', rel='icon')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/icons/css/all.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/index.css')
    // fontawesome
    script(src='https://kit.fontawesome.com/b51d5e4e6a.js', crossorigin='anonymous')
    // Favicon
    link(rel='icon', type='image/x-icon', href='icons/sprites/logo.png')
    // Bootstrap icons
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    
    script(src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js')
    
  // Responsive navbar
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-header
      .container.px-5
        a.navbar-brand(href='/profile')
          i.fa-solid.fa-heart-pulse
          |  #{loggedInUser.fullname} 
        lottie-player(src='https://assets5.lottiefiles.com/packages/lf20_a1lpoeuv.json', mode='bounce', background='transparent', speed='3', style='color:white; width: 50px; height: 50px;', hover='', loop='', autoplay='')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page', href='/index') Home
            
            li.nav-item
              a.nav-link(href='/logout') Logout
              
    .Container 
      .btn-group.btn-group-justified
        a.btn.btn-primary(href='donate/heart') Heart
        a.btn.btn-primary(href='donate/liver') Liver
        a.btn.btn-primary(href='donate/lung') Lung
        a.btn.btn-primary(href='donate/kidney') Kidney

    
    footer.py-3.bg-header
      .container.px-5
        p.m-0.text-center.text-white Copyright &copy; OrgansDonor 2023
        
  script(src='/scripts/donate_script.js')  