html
  head
    title  Require Organ for transplant
    meta(charset='utf-8')
    link(href='/icons/sprites/logo.png', rel='icon')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/icons/css/all.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/index.css')
    // fontawesome
    script(src='https://kit.fontawesome.com/b51d5e4e6a.js', crossorigin='anonymous')
    // Favicon
    link(rel='icon', type='image/x-icon', href='icons/sprites/logo.png')
    // Bootstrap icons
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    
    script(src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js')
    
  // Responsive navbar
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-header
      .container.px-5
        a.navbar-brand(href='/profile')
          i.fa-solid.fa-heart-pulse
          |  #{loggedInUser.fullname} 
        lottie-player(src='https://assets5.lottiefiles.com/packages/lf20_a1lpoeuv.json', mode='bounce', background='transparent', speed='3', style='color:white; width: 50px; height: 50px;', hover='', loop='', autoplay='')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page', href='/index') Home
            
            li.nav-item
              a.nav-link(href='/logout') Logout
    
    .Container
      .row
        .col-md-8(style='position: relative; top: 10px; margin: auto; z-index: 100;')
          form#try.register(action='/donate', method='POST', name='form')
            h5(style='text-align: center; margin-top: 10px;') Donor Information 
            h6(style='text-align: center; margin-top: 10px; color:#30C986 border-bottom:2px solid #30c986 ' )  #{loggedInUser.fullname} 
            .form-group
              p Age
              input.form-control(type='number', name='age', required='required')
            .form-group
              p Height(cm)
              input.form-control(type='number', name='height', required='required')
            .form-group
              p Weight(kg)
              input.form-control(type='number', name='weight', required='required')
            .form-group
              select.form-control(name='gender', required='required')
                option(value='') Gender:
                option(value='Female') Female
                option(value='Male') Male
            .form-group
              p Blood type
              input.form-control(type='text', name='bt', required='required')
            .form-group
              p BP level
              select.form-control(name='BP', required='required')
                option(value='High') high
                option(value='Low') Low
                option(value='normal') normal
            .form-group
              p Organs to Donate
              select#organ.form-control(name='organ', onchange='GetSelectedTextValue(this)' required='required')
                option(value='') Choose:
                option(value='lung') Lung
                option(value='heart') Heart
                option(value='kidney') Kidney
                option(value='liver') Liver

            .form-group
              p Deceased
              select.form-control(name='deceased', required='required')
                option(value='') Deceased:
                option(value='Yes') Yes
                option(value='No') No

            #lung(style='display:none')
              h1 LUNG INFO
              .form-group
                p No. of lungs
                input.form-control(type='number', min='1', max='2', name='nol', required='required')
              .form-group
                p Smoking years
                input.form-control(type='number', name='smy', required='required')
              .form-group
                p History of pulminory disease
                input.form-control(type='boolean', name='pd', required='required')
              .form-group
                p Pulmonary edema
                input.form-control(type='boolean', name='edema', required='required')
              .form-group
                p Sepsis
                input.form-control(type='boolean', name='sepsis', required='required')
              .form-group
                p Lung trauma
                input.form-control(type='boolean', name='lung_trauma', required='required')

            br
            #heart
              h1 HEART INFO
              .form-group
                p History of heart disease
                input.form-control(type='boolean', name='heart_disease', required='required')
              .form-group
                p Obesity
                input.form-control(type='boolean', name='obesity', required='required')
              .form-group
                p Diabetes
                input.form-control(type='boolean', name='diabetes', required='required')
              .form-group
                p Heart abnormalities
                input.form-control(type='boolean', name='abnormal', required='required')
              .form-group
                p Haemodynamic complications
                input.form-control(type='boolean', name='haemocomp', required='required')
              .form-group
                select.form-control(name='inotropes', required='required')
                  option(value='') Inotropes
                  option(value='High') positive
                  option(value='Low') negative
                  option(value='normal') na
            br
            #liver
              h1 LIVER INFO
              .form-group
                select.form-control(name='Blood_sugar', required='required')
                  option(value='') Blood sugar:
                  option(value='High') high
                  option(value='Low') Low
                  option(value='normal') normal
              .form-group
                p Hepatitis
                input.form-control(type='boolean', name='hepatitis', required='required')
              .form-group
                p Cancers
                input.form-control(type='boolean', name='cancers', required='required')
              .form-group
                p HIV
                input.form-control(type='boolean', name='hiv', required='required')
              .form-group
                p Creatinine
                input.form-control(type='number', name='creatinine', required='required')
              .form-group
                p GFRs
                input.form-control(type='number', name='gfr', required='required')
            .form-group
              input.btn.btn-primary.form-control(type='submit', value='Add User')
    // Footer
    footer.py-3.bg-header
      .container.px-5
        p.m-0.text-center.text-white Copyright &copy; OrgansDonor 2022
        
  script(src='/scripts/donate_script.js')  